<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlaskRSS</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">FlaskRSS</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-control-range" action="/search" method="post">
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" name="article_text">
    </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign out {{ current_user.username }}</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-2 col-lg-1 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <a href="{{ url_for('items_index') }}"
                       class="nav-link">All</a>
                    {% for item in feeds | sort(attribute='name') %}
                        <li class="nav-item">
                            <a href="{{ url_for('items_index', feed_id=item.id) }}"
                               class="nav-link">{{ item.name }}</a>
                        </li>
                    {% endfor %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('feeds_index') }}">
                            <span data-feather="rss"></span>
                            Feeds
                        </a>
                    </li>

                </ul>
            </div>
{#            <div class="sidebar-sticky pt-3">#}
{#                <ul class="nav flex-column">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('feeds_articles') }}">#}
{#                            <span data-feather="file-text"></span>#}
{#                            Articles#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('feeds_index') }}">#}
{#                            <span data-feather="rss"></span>#}
{#                            Feeds#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-11 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block content_title %}{% endblock %}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                onclick="window.location.href='{{ url_for('feeds_index') }}'">Add Feed
                        </button>
                        <button id="refresh_feeds" type="button" class="btn btn-sm btn-outline-secondary"
                                onclick="update_feeds()">Refresh Feed Data <span data-feather="refresh-cw"></span>
                        </button>
                    </div>
                </div>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div id="flash_message" class="col-md-12 alert alert-{{ category }} ">{{ message }}</div>
                        <script type="application/javascript">
                            setTimeout(function () {
                                if ($('#flash_message').length > 0) {
                                    $('#flash_message').remove();
                                }
                            }, 3000)
                        </script>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {# Render content from child templates #}
            {% block content %}{% endblock %}

        </main>
    </div>
</div>

<script src="{{ url_for('static', filename='feather.min.js') }}"></script>
<script type="application/javascript">
    (function () {
        /* globals Chart:false, feather:false */
        'use strict'
        feather.replace()
    })()
</script>

<script>
    $(document).ready(function () {
        const pathname = window.location.pathname;
        $('.nav-link').find('.active').removeClass('active');
        $('li a').each(function () {
            if ($(this).attr('href') == pathname) {
                $(this).addClass('active');
            }
        });
    });
</script>

<script>
    function update_feeds() {
        $.ajax({
            url: '{{ url_for('feeds_download', feed_id="all") }}',
            type: 'GET',
            success: function (response) {
                console.log(response);
                $('#refresh_feeds').addClass("btn-info");
                window.setTimeout(function () {
                    $('#refresh_feeds').removeClass("btn-info");
                    window.location.href = "{{ url_for('feeds_articles') }}";
                }, 1000);
            },
        });
    }
</script>

</body>
</html>
