{% extends 'base.html' %}
{% block content_title %}Feeds{{ super() }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Feed</th>
                    <th scope="col">Name</th>
                    <th scope="col">URL</th>
                    <th scope="col" style="text-align:right">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in feeds %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <th scope="row">{% if item.show_in_feed %}<span data-feather="check-square"></span>{% else %}<span data-feather="slash"></span>{% endif %}</th>
                        <td>{{ item.name }}</td>
                        <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                        <td style="text-align:right">
                            <a href="{{ url_for('feeds_edit', feed_id=item.id) }}"> <span data-feather="edit"></span></a>
                            <a href="{{ url_for('feeds_delete', feed_id=item.id) }}"> <span data-feather="trash"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <form method="POST" action="" class="col-md-12">
            <h3>Add New feed:</h3>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="name">{{ form.name.label }}</label>
                    {{ form.name(class_="form-control", size=50, required='required') }}
                    <div class="invalid-feedback">Name is required.</div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="url">{{ form.url.label }}</label>
                    {{ form.url(class_="form-control", size=150, required='required') }}
                    <div class="invalid-feedback">URL name is required.</div>
                </div>
            </div>
            <div class="row col-md-3 mb-2">
                {{ form.submit(class_="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>

{% endblock %}